body {
  background-color: black;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a618ec;
}

.header {
  padding: 20px 40px;
  background-color: white;
  margin-bottom: 30px;
  height: 50px;
}

.header h1 {
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  border-radius: 4px;
}
