.container {
  width: 85%;
  height: 800px;
  margin: 40px auto;
}

h1 {
  font-size: 60px;
  text-align: center;
}

.item {
  background-color: greenyellow;
  width: 300px;
  height: 300px;
  float: left;
  margin: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: solid 2px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
